.toolbar {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    .buttons {
        width: 80%;
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 10%;

        button {
            border: none;
            padding: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            font-size: 2rem;
            box-shadow: $shadow;
        }

        .btn-opt{
            background-color: rgba(0, 0, 0, 0.15);
        }

        .add-button {
            background-color: $tone;
           
        }
    }

}