:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0;
  margin: 0;
}

.container {
  background-color: #282774;
  width: 100vw;
  height: 100vh;
}

.header {
  background-color: #181844;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 0 0 10% 10%;
}

.header .nav-menu {
  display: flex;
  justify-content: start;
  width: 100%;
  align-items: end;
}

.header .total {
  background-color: rgba(255, 255, 255, 0.2);
  width: fit-content;
  height: fit-content;
  padding: 15px;
  border-radius: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
}

.header .total .number {
  margin-right: 4px;
}

.header .filter {
  width: fit-content;
  height: fit-content;
}

.header .filter .options {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 7px 10px;
  border-radius: 25px;
}

.header .filter .options span {
  margin: 4px;
  width: 100%;
  height: 100%;
}

.header .filter .options span.selected {
  background-color: #242424;
}

.list-of-expenses {
  height: 55%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.list-of-expenses .expense {
  width: 80%;
  margin: 10px 0;
  background-color: rgba(255, 255, 255, 0.2);
  display: grid;
  grid-template-columns: 15% 60% 25%;
  align-items: center;
  border-radius: 30px;
}

.list-of-expenses .expense .icon {
  padding: 15px;
}

.toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar button {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  padding: 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
}

/* hamburguer */

.hamburguer {
  position: fixed;
  left: 0;
  right: 0;
  padding: 1.25rem; /* 20px */
  padding-top: 0;
  background-color: #181844; /* neutral-950 */
}

.hamburguer-opt {
  display: grid;
}

.hamburguer-opt-item {
  width: 100%; /* w-full */
  border-radius: 0.75rem; /* rounded-xl (12px) */
  list-style: none;
}

.hamburguer-opt-item a {
  display: flex; /* flex */
  align-items: center; /* items-center */
  justify-content: space-between; /* justify-between */
  width: 85%; /* w-full */
  padding: 1.25rem; /* p-5 (20px) */
  background-color: #181844;
  text-decoration: none;
}

.hamburguer-opt-item a span {
  display: flex; /* flex */
  font-size: 1.125rem; /* text-lg (18px) */
}

.hamburguer-opt-item a .icon {
  font-size: 1.25rem; /* text-xl (20px) */
  line-height: 1.75rem; /* Default line-height for text-xl (28px) */
}

/* hamburguer END*/

/* Add expense from  */

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.form-container form {
  background-color: #181844;
  padding: 25px 30px;
  border-radius: 20px;
  min-width: 70%;
}

.form-container form h3 {
  border-bottom: 2px solid white;
}

.input-box {
  padding: 7px 0;
  display: grid;
}

.input-box label {
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 0;
}

.input-box input {
  border-radius: 10px;
  border: none;
  padding: 15px 7px;
  background-color: rgb(255, 255, 255, 0.2);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
}

.form-container .form-btns {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 7px 0;
}

.form-container .form-btns button {
  margin-left: 10px;
  padding: 8px 17px;
  border: none;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.ok-btn {
  background-color: rgba(0, 255, 56, 0.2);
}

.cancel-btn {
  background-color: rgba(255, 0, 0, 0.4);
}
